{{% extends 'base.html.twig' %}

{% block title %}  PROSTAGE - Entreprise {% endblock %}


{% block titrePage %}<h1><center>Voici les entreprises qui proposent des stages</center></h1>{% endblock %}
{% block contenuPage %}
<div>
  <table class="table">	<!-- Tableau des entreprises enregistrées -->
  	<thead>
  		<tr>
        <th scope="col">Nom</th>
  	    <th scope="col">Domaine</th>
  	    <th scope="col">Ville</th>
  		</tr>
  	</thead>
  	<tbody>
  	</tbody>
  </table>
</div>
{% endblock %}
