{% extends 'base.html.twig' %}

{% block title %}  PROSTAGE - Formation {% endblock %}


{% block titrePage %}<h1><center>Voici les formations concernées par des stages</center></h1>{% endblock %}
{% block contenuPage %}
<div>
  <table class="table">	<!-- Tableau des formations enregistrées -->
  	<thead>
  		<tr>
        <th scope="col">Nom</th>
  	    <th scope="col">Domaine</th>
  	    <th scope="col">Type</th>
        <th scope="col">Ville</th>
  		</tr>
      <tr>
        <td>Titre exemple</td>
      </tr>
  	</thead>
  	<tbody>
  	</tbody>
  </table>
</div>
{% endblock %}
